* {
    box-sizing: border-box;
    font-family: Verdana, serif;
    color: #424242;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100%;
}

body {
    background-color: #F5F5F5;
}

main {
    padding: 1.5rem;
    margin: auto;
    background-color: #EEEEEE;
    min-height: 100%;
}

h1 {
    margin-top:0;
    margin-bottom: .5em;
}

#table-container {
    padding: 1em;
    background-color: #F5F5F5;
    width: 100vw;
    margin:0 -1.5rem;
}

table {
    border-collapse: collapse;
    font-size: .9em;
    margin: 0;
}

td {
    text-align: center;
    padding: 0.1rem 0.25rem;
}

tr.focused {
    background-color: #E0E0E0;
}

td > * {
    width: 100%;
}

td:first-child {
    font-size:.8em;
    text-align: right;
    width: 5rem;
}

td:nth-child(2), td:nth-child(4) {
    width: 4.5rem;
}

td:nth-child(3), td:nth-child(5) {
    width: 1.8rem;
}

td:nth-child(6), td[colspan="5"] + td {
    font-size:.8em;
    padding-left: 0.5rem;
    text-align: left;
    width: 8rem;
}

td[colspan="5"] {
    text-align: center;
}

#canvas-container{
    height:20rem;
    width:100%;
}

canvas {
    display: block;
    margin: auto;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    main {
        max-width: 42rem;
    }

    h1{
        margin-top: .5em;
    }

    table {
        font-size: inherit;
    }

    #table-container{
        margin:auto;
        width:fit-content;
    }

    td:first-child {
        font-size:inherit;
        width: 9rem;
    }

    td:nth-child(6), td[colspan="5"] + td {
        font-size:inherit;
        padding-left: 1rem;
        width: 11rem;
    }
}
